<a href="https://render.com" target='_blank'>
  <%= image_tag 'render-banner.png', class: 'mw-100', style: 'width: 100%' %>
</a>
<h1>Render ToDo Try Rails App</h1>

<a href='/tasks'>Task List</a>
<br>
<a href='/categories'>Category List</a>
