<div id="<%= dom_id task %>" class="task_card">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= task.category.name %>
  </p>

</div>
